*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    font-size: 20px;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body{;
}
/* HEADER */
.containerhead{
    width: 70%;
    height: 50px;
    margin: 30px;
    display: flex;
    margin: 10px auto;
}
 .containerhead>div{
    display: flex;
    align-items: center;
    border: 2px dashed black;
 }
.logo{
    justify-content: flex-start;
    width: 25%;
    padding: 10px;
}

.linkbox{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login{
    width: 25%;
    justify-content: flex-end;
    padding: 10px;
}

/* MAIN */

.backbox{

    display: flex;
    align-items: center;
    justify-content: center;
}

.midbox1{
    width: 50%;
    min-height: 300px;
    margin: 30px;
    border: 2px dashed black;
}

.midbox2{
    width: 70%;
    margin: 30px;
    display: flex;
}

.midbox3{
    width: 70%;
    min-height: 800px;
    margin: 30px;
    border: 2px dashed black;
}   

.smallbox1{
    width: 60%;
    height: 100%;
    border: 2px dashed black;
    min-height: 400px;
}

.smallbox2{
    width: 40%;
    height: 100%;
    border: 2px dashed black;
    min-height: 400px;
}

.reverse{
    flex-direction: row-reverse;
}

.bwhite{
}
.bgrey{
}
.bblue{
}

/* FOOTER */

.midbox4{
    width: 70%;
    margin: 5px 0 15px;
    display: flex;
}
.smallbox3{
    width: 30%;
    height: 100%;
    border: 2px dashed black;
    min-height: 500px;
}
.smallbox4{
    width: 70%;
    height: 100%;
    display: flex;
}
.smallerbox{
    width: calc(100% / 4);
    border: 2px dashed black;
    min-height: 500px;
}

.bdarkgrey{
}
.midbox5{
    width: 70%;
    min-height: 100px;
    margin: 5px 0 15px;
    display: flex;
    border: 2px dashed black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.midbox5>button{
    height: 2em;
    border: 2px dashed black;
}