*{
    box-sizing: border-box;
    margin: 0;
    font-size: 20px;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body{;
}
/* HEADER */
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}
h1{
    font-size: 2em;
    margin-bottom: 10px;
}
.whiteround{
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 7px;
}
.blackround{
    background-color: black;
    border-radius: 20px;
    padding: 7px;
}
.containerhead{
    width: 70%;
    height: 50px;
    margin: 30px;
    display: flex;
    margin: auto auto 10px;
}
 .containerhead>div{
    display: flex;
    align-items: center;
    border: 2px dashed black;
 }
.logo{
    justify-content: flex-start;
    width: 25%;
    padding: 10px;
}

.midbox1{
    width: 50%;
    min-height: 300px;
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.linkbox{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.login{
    width: 25%;
    justify-content: flex-end;
    padding: 10px;
}
.downloadb{

}
.jumbuttons{
}
a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
}

/* MAIN */

.backbox{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.items{
    width: 100%;

}
.midbox2{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.midbox3{
    width: 70%;
    min-height: 800px;
    border: 2px dashed black;
}   

.smallbox1{
    width: 60%;
    height: 100%;
    border: 2px dashed black;
    min-height: 400px;
    flex-grow: 0;
}

.smallbox2{
    width: 40%;
    height: 100%;
    border: 2px dashed black;
    min-height: 400px;
}

.reverse{
    flex-direction: row-reverse;
}

.bwhite{
}
.bgrey{
    background-color: #f6f6f6;
}
.bblue{

}

/* FOOTER */

.midbox4{
    width: 70%;
    margin: 5px 0 15px;
    display: flex;
}
.smallbox3{
    width: 30%;
    height: 100%;
    border: 2px dashed black;
    min-height: 500px;
}
.smallbox4{
    width: 70%;
    height: 100%;
    display: flex;
}
.smallerbox{
    width: calc(100% / 4);
    border: 2px dashed black;
    min-height: 500px;
}

.bdarkgrey{
    background-color: #23272a;
}
.midbox5{
    width: 70%;
    min-height: 100px;
    margin: 5px 0 15px;
    display: flex;
    border: 2px dashed black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #3e4966;
}
.midbox5>a{
    height: 2em;
    border: 2px dashed black;
}